@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nuosu+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@font-face {
	font-family: gorthe;
	src: url(../fonts/GORTHE.otf);
  }
@font-face{
	font-family: marbor;
	src: url(../fonts/Marlboro.ttf);
}

html {
	scroll-behavior: smooth;
  }
#tittle{
	font-size: 2.5rem; font-weight: 700; text-align:center; text-transform: capitalize;
}
#tittle2{
	font-weight: 600;
	padding-bottom: 2rem;
}

 label span{
    display: none;
}
/*.header-logo-paragraph{
	width: 100%;
	position: fixed;
}*/

.header-logo-paragraph img{
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
	margin: auto;
}
.header-logo-paragraph ul{
	display: flex;
	justify-content: center;
}
.header-logo-paragraph  .rs-item{
    transition: ease-in 0.3s;
    list-style: none;
    text-transform: uppercase;
	padding: 0 2rem;
}
.header-logo-paragraph .rs-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
	font-weight: 800;
	cursor: pointer;
}
.rs-item:hover a{
	border-bottom: 2px solid black;
}
.rs-item .rs-link.click{
	border-bottom: 2px solid black;
}

@media screen and (min-width: 460px) {
    .header-logo-paragraph {
        width: 100%;
        margin: 0;
    }
	.header-logo-paragraph ul{
		width: 100%;
		position: fixed;
		margin: 0;
		z-index: 20;
		background-color: white;
		height: 80px;
		justify-content: center;
		align-items: center;
	}
  }
  @media screen and (min-width: 1024px) {
      .header-logo-paragraph{
          width: 85%;
          margin: 0 var(--center-fixed);
      }
  }
@media screen and (max-width: 650px) {
	.header-logo-paragraph  .rs-item{
		padding: 0 1rem;
	}
}

@media screen and (max-width: 460px){
	.header-logo-paragraph  .rs-item{
		padding: 0 0.5rem;
	}
	.header-logo-paragraph #nav-menu{
		width: 280px;
		height: 100%;
		background-color: blue;
		display: block;
		grid-row: auto;
		position: fixed;
		top: 0;
		left: -200%;
		z-index: 20;
		transition:  2s;
		
	}
	.header-logo-paragraph .rs-item{
		margin: 20% 0;
		line-height: 40px;
	}
	.header-logo-paragraph .rs-link{
		color: white;
		text-transform: capitalize;
		font-weight: 200;
		font-size: 1.2rem;
	}
	.header-logo-paragraph #nav-menu.showing{
		left: 0;
		transition:  ease 3s forwards;
	}
	.nav__toggle {
		display: block;
		color: black;
		font-size: 2rem;
		cursor: pointer;
		z-index: 20;
	  }
	  .nav__toggle .bar{
		width: 2rem;
		height: .4rem;
		background-color: black;
		cursor: pointer;
		margin: 5px 3px;
		display: block;
		transition: all .3s ease-in-out;
		z-index: 10;
	}
	#nav-toggle{
		position:fixed;
		left: 0;
		top: 0;
		transform: translate(5%, 20%);
		padding-bottom: 1rem;
	}
	.nav__toggle.is-active .bar:nth-child(2){
		opacity: 0;
	}
	.nav__toggle.is-active .bar:nth-child(1){
		transform: translateY(1rem) rotate(50deg);
		background-color: rgb(255, 255, 255);
	}
	.nav__toggle.is-active .bar:nth-child(3){
		transform: translateY(-.4rem) rotate(-50deg);
		background-color: rgb(255, 255, 255);
	}
}

@media screen and (min-width: 460px){
.nav__toggle {
	display: none;
  }
}
/* ------------------------------------------ */
/*                fixed menu style            */
/* ------------------------------------------ */





/* ============================== */
/*       cover section            */
/* ============================== */
                .cover-container{
                    max-width: 1024px;
                    background-image: url(../Restaurants/restuarutcover.jpg);
					background-size: cover;
					background-repeat: no-repeat;
                    margin: 100px auto;
					background-position-y: -30px;
					height: 500px;
					position: relative;
                }
@media screen and (max-width: 800px){
	.cover-container{
		background-position: center;
		background-size: contain;
		height: 300px;
		margin: 50px auto;
		width: 100%;
	}
}
@media screen and (max-width: 460px){
	.cover-container{
		height: 250px;
		margin: 0px;
		background-size: 100% 100%;
	}
}
/*====================  ending ===================
            ===========================================starting serve-contianer*/
.introduction-section{
	max-width: 1024px;
	height: 300px;
	background-image: url(../restarunt/editing-sh/RND-001.jpg);
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: contain;
	background-position: center;
	margin: auto;
	position: relative;
}
.cover-color{
	background-color: blue;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}
.introduction-section p{
	font-size: 25px;
	font-weight: 600;
	font-family: 'Trirong', serif;
	color: black;
	padding-top: 50px;
	text-align: center;
	margin: 0 15px;
	line-height: 45px;
	z-index: 2;
	
}
@media screen and (max-width: 500px){
		.introduction-section{
			width: 100%;
			height: auto;
		}
	.introduction-section p{
		padding-top: 0;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
	}
	}


/* ==================================================== */
/* startign style for phuasia restaurant introduction */
/* ====================================================*/
.phumasia-int{
	max-width: 1024px;
	padding-top: 5rem;
	margin: 10px auto;
	column-gap: 10px;
	row-gap: 20px;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-items: center;
}
.phumasia-int img{
	width: 100%;
	height: 100;
}
.phumasia-int h3{
	text-align: center;
	font-size: 2rem;

}
.phumasia-int p{
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
	font-family: 'Nuosu SIL', serif;
}
.phumasia-int a{
	padding: 10px 20px;
	color: black;	
}
@media screen and (max-width: 660px){
	.phumasia-int{
	 width: 80%;
	 margin: auto;
	display: grid;
	grid-template-columns: none;
	grid-template-rows: auto;
}
}
@media screen and (max-width: 320px) {
	.phumasia-int{
		width: 280px;
		margin: auto;
	}
}


/*====================================================*/
/*             ending and style for serve             */
/*====================================================*/
.serve-contianer{
	max-width: 1024px;
	margin: 5rem auto;
}
.serve-contianer h3{
	font-size: 2rem;
	text-align: center;
}
.saerve-cards{
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 10px;
	row-gap: 2rem;
	text-align: center;
}
.saerve-cards .menu-name{
	font-size: 1.3rem;
	font-weight: 600;
}
@media screen and (max-width: 1024px)
{
	.saerve-cards{
		grid-template-columns: auto auto auto;
		align-self: center;
	}
	.saerve-cards .card-item img{
		width: 200px;
	}
}
@media screen and (max-width: 700px)
{
	.saerve-cards{
		grid-template-columns: auto auto;
		align-self: center;
	}
}
@media screen and (max-width: 460px)
{
	.saerve-cards .card-item img{
		width: 150px;
	}
}
@media screen and (max-width: 320px)
{
	.saerve-cards{
		grid-template-columns: auto;
		align-self: center;
	}
	.saerve-cards .card-item img{
		width: 250px;
	}
}



/* --------------------------- */
/* 		shaved ice style       */
/* --------------------------- */
.saved-ice-contianer{
	margin: 3rem auto;
	max-width: 1024px;
	row-gap: 2rem;
}
.saved-ice-contianer .indroduction-above{
	padding-top: 2rem;
	display: grid;
	grid-template-columns: 400px auto;
	column-gap: 10px;
}
.saved-ice-contianer .align-items-center p{
	font-size: 1.3rem;
	line-height: 35px;
	text-align: center;
}
/* this is 3 card in the bottom style */
.saved-ice-contianer .card-ice-item{
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 20px;
	row-gap: 5rem;
	margin: 5rem auto;
}
 .card-contan .photo-section img{width: 100%;}
.card-ice-item .photo-section .name-d{
	font-weight: 600;
	font-size: 1.3rem;
}
@media screen and (max-width: 800px){
	 .saved-ice-contianer .indroduction-above{
		display: inline-block;
	}
}
@media screen and (max-width: 460px)
{
	.saved-ice-contianer .card-ice-item{
		grid-template-columns: auto auto;
		row-gap: 10px;
	}
}

/* -------------------------------------- */
/*             drink style section        */
/* -------------------------------------- */
.drink-container{
	max-width: 1024px;
	margin: 3rem auto;
}
.drink-container .indroduction-above{
	display: grid;
	grid-template-columns: 400px auto;
	column-gap: 20px;
	text-align: center;
	font-size: 1.3rem;
}
.drink-container  .drink-item{
	margin: auto;
	padding-top: 5rem;
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 20px;
}
.drink-item .drink-product{
	height: 150px;
	width: 100px;
}
.drink-item .drink-center{
	justify-self: center;
	align-self: start;
}
.drink-item .drink-left{
	justify-self: left;
	align-self: start;
}
.drink-item .drink-right{
	justify-self: right;
	align-self: start;
}

@media screen and (max-width: 700px){
	.drink-container .indroduction-above{
		display: inline-block;
	}
	.drink-container .drink-item{
		grid-template-columns: auto auto auto;
		column-gap: 5;
	}
	.drink-container .drink-item .name-d{
		font-size: 1rem;
	}
}
@media screen and (max-width: 560px){
	.drink-container .drink-item{
		grid-template-columns: auto auto;
		column-gap: 5;
	}
	.drink-item .drink-left{
		justify-self: center;
	}
	.drink-item .drink-center{
		justify-self: center;
	}
	.drink-item .drink-right{
		justify-self: center;
	}
}
